/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: 'Lato', sans-serif;
}

ol.header{
	width: 100%;
}
ol.header li{
	display: inline-block;
	width: 25%;
}
ol.header li a{
	display: inline-block;
	width: 100%;
	padding:10px 0;
	color: white;
	text-decoration: none;
	background-color: orange;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	transition:0.2s all linear;
}
ol.header li a:hover{
	background-color: white;
	color: orange;
}
ol.header li a.selected{
	color: orange;
	background-color: white;
}
#header{
	width: 100%;
	position: absolute;
	z-index: 0;
}
#header div{
	width: 115px;
	margin: 0 auto;
	border-top: none;
	background-color: orange;
	border-bottom-left-radius: 57.5px;
	border-bottom-right-radius: 57.5px;
	padding-bottom: 6px;
}
#header h1{
	text-align: center;
	padding-top: 12px;

	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
#header h1 a{
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
#header div p{
	text-align: center;

}
#header div p img{
	width: 100px;
	transition:0.2s all linear;
}
#header div p img:hover{
	transform:scale(1.1);
}
#mainContent{
	clear: both;
}
.imgGallery{
	width: 100%;
	height: 280px;
	background-image: url('../img/grass_and_sky2.jpg');
	background-position: center;
	background-size: 100%;
}
.DGRAD{
	background:linear-gradient(orange, white);
}
.DGRAD>div{
	border:5px solid orange;
	border-radius: 25px;
	padding: 24px 0;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 24px;
}
.DGRAD>div h2,legend{
	color: orange;
	font-size: 1.5em;
	margin-left: 12px;

}
.DGRAD>div h2{
	width: 52%;
	float: left;
	margin-bottom: 12px;
}
.DGRAD>div ul{
	list-style:circle outside;
	padding-left: 12px;
	margin-left: 24px;
	display: inline-block;
	width: 45%;
	vertical-align: top;
	float: left;
}
.DGRAD>div ul li{
	padding-left: 12px;
	margin: 6px 0;
	color: orange;
	line-height: 1.5;
}
.DGRAD>div ul li a{
	color: orange;
}
.DGRAD>div ul li a:hover{
	text-decoration: none;
}
.DGRAD>div ul li span{
	color: black;
}
.DGRAD>div form{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin: 0 24px;
}
.DGRAD>div form fieldset{
	border:1px solid orange;
	border-radius: 10px;
	padding: 12px;
}
.DGRAD>div form div{
	padding:0 24px;
}
.DGRAD>div form input[type='search'],input[type='number'],select,textarea{
	display: inline-block;
	width: 60%;
}
.DGRAD>div form select:focus{
	color: orange;
}
.DGRAD>div form select option:focus{
	background-color: orange;
	color: white;
}
.DGRAD>div form input[type='search']:focus{
	color: orange;
}
.DGRAD>div form label{
	display: inline-block;
	margin-top: 12px;
	width: 38%;
	transition:0.3s all linear;
}

.DGRAD>div form h2{
	width: 100%;
}
.DGRAD>div form.search input[type='search']:focus{
	width: 60%;
	opacity: 1;
}
.DGRAD>div form.search label:hover{
	color: orange;
	cursor: pointer;
}
.DGRAD>div .filters{
	float: right;
	width: 40%;
	padding-top: 30px;
}
.DGRAD>div .filters div{
	background-color: orange;
	color: white;
	display: inline-block;
	width: auto;
	padding: 12px 6px;
	position: relative;
	border-radius: 8px;
	margin-bottom: 12px;
	margin-right: 11px;
}
.DGRAD>div .filters div a{
	position: absolute;
	top: 3px;
	right: 3px;
	text-decoration: none;
	font-weight: 900;
	font-size: 0.65em;
	color: white;
	cursor: pointer;
}
.DGRAD>div #titreForm{
	width: 100%;
}
.DGRAD>div #titreForm h2{
	width: 75%;
}
.DGRAD>div #titreForm select{
	width: 20%;
	margin-left: 3%;
	margin-top: 5px;
}
.DGRAD>div label[for="body"]{
	vertical-align: top;
}
.DGRAD>div textarea{
	margin-top: 12px;
	resize:none;
}
strong,h4,h3{
	font-weight: bold;
	color: orange;
}
h3{
	text-align: center;
	font-size: 1.8em;
}
.ficheLivre{
	padding-left: 12px;
	width: 50%;
	display: inline-block;

}
.ficheLivre p, .ficheLivre h4{
	line-height: 1.5;
	font-size: 1.3em;
}
.image{
	display: inline-block;
	float: left;
	width: 45%;
}
.button{
	color: white;
	display: inline-block;
	width: auto;
	margin: 12px auto;
	background: linear-gradient(#FEE376,orange);
	border-radius: 15px;
	cursor: pointer;
	padding: 6px;
	border:2px solid orange;
	font-size: 1.2em;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	margin-right: 12px;
}
a.button{
	padding: 9px;
}
.button:hover{
	background: linear-gradient(white,orange);
}
.delete{
	padding: 6px;
	border:3px solid red;
	color: red;
	border-radius: 6px;
	margin-top: 12px;
}

.DGRAD .ficheLivre form{
	display: inline;
}
.connexion .form-inline{
	border-bottom: 2px solid orange;
	box-shadow: -1px -3px 5px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
}
section input{
	width:60%;
}
section input[type='checkbox']{
	width:auto;
}
